{% extends "present.html.twig" %}
{% 
set image = asset("/images/projets.jpg")
 %}
{% block body %}
<section>
	<div class="row">
		{% for type in types %}
			<div class="col" onclick="document.getElementById('{{type}}').click()">
				<input type="checkbox"  style="display:none;" hidden id="{{type}}" onclick="doFilter()" class="filter">
				<div class="card bg-dark rounded shadow" style="background-image: url('unsplash-photo-1.jpg');">
					<div class="col text-shadow">
						<h2>{{type}}</h2>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<section>
	<div class="grid" id="filtred">
	{% for chantier in projects %}
		<div class="col-lg-12 {% for type in chantier.getTypes() %} {{type.getType()}}{% endfor %} filter" style="max-width:480px;margin: auto;">
			<div class="card shadow">
				<img-aspect aspect="16/9" crop="cover"  src="{{ asset("/uploads/images/chantier/#{chantier.getImages()[0].getImage()}") }}" alt="img"></img-aspect>
				<h6>{{ chantier.nom }}</h6>
				<p class="card-text" style="white-space: normal;overflow: hidden;text-overflow: ellipsis;max-height: 105px;min-height: 105px;">{{ chantier.description}}</p>
				<div class="col">
					<a href="{{path('chantier_show',{'id': chantier.id}) }}" class="btn outline centred">View</a>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="filter error" style="display:none;margin: auto;font-weight: bold;" >Il n'y a pas d'article dans le chantier sélectionné
		<div>
	</div>
</section>
        <script type="text/javascript">
                    const filtred = document.querySelector("#filtred")
                    const filters = document.querySelectorAll("input.filter")
                    const filtererror = document.querySelector(".filter.error")
                    function doFilter(){
                        var any = ! [...filters].some((o)=>o.checked)
                        elements = filtred.querySelectorAll(".filter:not(.error)")
                        var isempty = false;
                        [...elements].map(filter=>{
                            var clzzs = filter.classList
                            clzzs = Object.values(clzzs)
                            var mod = [...filters].reduce(
                                (p,o)=>{
                                if(o.checked)
                                    p.push(o.getAttribute("id"))
                                return p
                                },[]
                            )
                            var isgood = mod.some(x=>clzzs.includes(x))
                            isgood||=any
                            filter.style.display = isgood ?"flex":"none"

                            isempty ||= isgood

                        })

                        filtererror.style.display = !isempty ?"flex":"none"

                    }
                </script>


{% endblock %}
