{% extends "base.html.twig" %}
{% block body %}
<main>

  <div class="container px-4 py-5 pt-lg-0" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 border-bottom border-5">
    {% for type in types %}
      <div class="col" onclick="document.getElementById('{{type}}').click()"  >
        <input type="checkbox"  style="display:block;" id="{{type}}" onclick="doFilter()" class="filter">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{type}}</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>


    <div class="container"  >

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="filtred">
    {% for chantier in projects %}
        <div class="col-lg-3 {% for type in chantier.getTypes() %} {{type.getType()}}{% endfor %} filter">
          <div class="card shadow-sm">
        <img src="{{ asset("/uploads/images/chantier/#{chantier.getImages()[0].getImage()}") }}" alt="img">


            <div class="card-body">
            <h6>{{ chantier.nom }}</h6>
              <p class="card-text">{{ chantier.contenu}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-12 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    <div class="filter error" style="display:none;" >
        Il n a R
    <div>

    </div>
  </div>




</main>
        <script type="text/javascript">
            const filtred = document.querySelector("#filtred")
            const filters = document.querySelectorAll("input.filter")
            const filtererror = document.querySelector(".filter.error")
            function doFilter(){
                var any = ! [...filters].some((o)=>o.checked)
                console.log(
                    any,
                    [...filters].map(o=>o.checked)
                    )
                elements = filtred.querySelectorAll(".filter:not(.error)")
                var isempty = ! [...elements].some(filter=>{
                    var clzzs = filter.classList
                    clzzs = Object.values(clzzs)
                    var mod = [...filters].reduce(
                        (p,o)=>{
                        if(o.checked)
                            p.push(o.getAttribute("id"))
                        return p
                        },[]
                    )
                    var isgood = mod.some(x=>clzzs.includes(x))||any
                    filter.style.display = isgood ?"flex":"none"

                    return isgood

                })

                filtererror.style.display = isempty ?"flex":"none"

            }
        </script>


{% endblock %}
