{% extends "present.html.twig" %}
{% 
set title = "NOS PROJETS"
 %}

  {% set description %}
 Envie de voir les travaux que l'on a déjà effectué ? Vous trouverez tout se qu'il faut sur cette page en matière de charpenterie, couverture ou pour des ouvrages plus spécifiques


  {% endset %}
{% 
set image = asset("/images/projets.jpg")
 %}
{% block body %}
<section class="clean-block">
	<div class="row col-11 small-sm" style="gap: 35px;" >
		{% for type in types %}
			<div class="card col-12 col-md-6 col-lg-3 bg-dark rounded cover overlay shadow-hover" onclick="document.getElementById('{{type}}').click()" style="background-image: url('{{ asset("/uploads/images/typechantier/#{type.getImage()}") }}');height:140px;min-width: min-content;">
			<input type="checkbox" style="display:none;" id="{{type}}" onclick="doFilter()" class="filter">
				<div class="col text-shadow">
					<h2 class="text-center" >{{type}}</h2>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<section>
	<div class="grid" id="filtred">
	{% for chantier in projects %}
		<div class="col-12 col-md-4 col-lg-3 {% for type in chantier.getTypes() %} {{type.getType()}}{% endfor %} filter" style="max-width:480px;margin: auto;">
			<div class="card col-8 col-lg-12 shadow-hover">
				<img-aspect aspect="16/9" crop="cover"  src="{{ asset("/uploads/images/chantier/#{chantier.getImages()[0].getImage()}") }}" alt="img"></img-aspect>
				<h3 class="uppercase ellipsis">{{ chantier.nom }}</h3>
				<p class="card-text">{{ chantier.description | striptags}}</p>
				<div class="col">
					<a href="{{path('chantier_show',{'id': chantier.id}) }}" class="col-12 btn outline centred">Voir plus</a>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="filter error" style="display:none;margin: auto;font-weight: bold;" >Il n'y a pas d'article dans le chantier sélectionné
		<div>
	</div>
</section>
        <script type="text/javascript">
                    const filtred = document.querySelector("#filtred")
                    const filters = document.querySelectorAll("input.filter")
                    const filtererror = document.querySelector(".filter.error")
                    function doFilter(){
                        var any = ! [...filters].some((o)=>o.checked)
                        elements = filtred.querySelectorAll(".filter:not(.error)")
                        var isempty = false;
                        [...elements].map(filter=>{
                            var clzzs = filter.classList
                            clzzs = Object.values(clzzs)
                            var mod = [...filters].reduce(
                                (p,o)=>{
                                if(o.checked)
                                    p.push(o.getAttribute("id"))
                                return p
                                },[]
                            )
                            var isgood = mod.some(x=>clzzs.includes(x))
                            isgood||=any
                            filter.style.display = isgood ?"flex":"none"

                            isempty ||= isgood

                        })

                        filtererror.style.display = !isempty ?"flex":"none"

                    }
                </script>


{% endblock %}
