{% extends 'present.html.twig' %}
{%
set title = "NOS OFFRES"
%}

  {% set description %}
Ici nous postons régulièrement des offres de stage et d'emploi. Pour pouvoir répondre à  une demande veuillez  le faire avec le formulaire de l'offre.
  {% endset %}
{%
set image = asset("/images/home.jpeg")
%}

{% block body %}
    <section class="row row-md">
		{% if message %}
			<p class="alert alert-danger">{{message}}</p>
		{% endif %}
		{% if offres %}
		<div class="col col-10 col-md-6">
			{%for offre in offres %}
			<div class="card col outline rounded col-10" open-tab="offre={{ offre.id }}&page={{page+1}}">
				<h2>{{ offre.intitule }}({{ offre.type }})</h2>
				<p class="adress">{{ offre.lieu }}</p>
				<div class="ellipsis" >{{ offre.mission }}</div>
				<span class="datetime">{{ offre.date|date("m/d/Y") }}</span>
				<button class="btn outline col-8 hide-md hide-lg" onclick="localStorage.setItem('offre',{{offre.id}});location.assign('/offre/postuler')" >Postuler</button>
            </div>
            {% endfor %}
			{% if offre %}
            <div class="row input-group">
                <button class="btn outline col-10" onclick="location.assign('offre={{ offre.id }}&page={{page-1}}')" >Precendante</button>
                <button class="btn outline col-10" onclick="location.assign('offre={{ offre.id }}&page={{page+1}}')" >Suivante</button>
        	</div>
			{% else %}
				<button class="btn outline col-10" onclick="location.assign('offre')" >Precendante</button>
                <button class="btn outline col-10" onclick="location.assign('offre')" >Suivante</button>
        	
			{% endif %}
        </div>
		{% if offre %}
        <div class="col-6 hide-sm outline card col short">
			<div class="col-12 row input-group">
				<h2 class="col-8 ellipsis" >{{ offre.intitule| striptags }}({{ offre.type| striptags }})</h2>
				<button class="btn outline" onclick="localStorage.setItem('offre',{{offre.id}});location.assign('/offre/postuler')" >Postuler</button>
			</div>
			<div class="col-12 row input-group">
				<p class="adress">{{ offre.lieu| striptags }}</p>
				<p class="price">{{ offre.remuneration| striptags }}</p>
			</div>
			<hr>
			<div class="profile">{{ offre.profile| striptags }}</div>
			<div class="mission">{{ offre.mission| striptags }}</div>
			<div class="col-12 row input-group">
				<span class="col-10 datetime">{{ offre.duree| striptags }}</span>
				<span class="col-10 datetime">{{ offre.date|date("m/d/Y") }}</span>
			</div>
        </div>
		{% else %}
			<p class="alert alert-danger">Cette Offre n'est plus Disponible</p>
		{% endif %}
		{% else %}
			<p class="alert alert-danger">Aucune Offres Disponibles</p>
		{% endif %}
    </section>
	
{% endblock %}