{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Repondre à l'offre</h1>


    <table class="table">
       <div class="name">
            <label for="validationDefault01" class="form-label">Nom</label>
            <input type="text" class="form-reponse" id="validationDefault01" value="Nom" required>
          </div>
          <div class="prénom">
              <label for="validationDefault01" class="form-label">Prénom</label>
              <input type="text" class="form-reponse" id="validationDefault01" value="Prenom" required>
            </div>

        <tbody>
        {% for reponse in reponses %}
        <div>
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.nom }}</td>
                <td>{{ reponse.prenom }}</td>
                <td>{{ reponse.cv }}</td>
                <td>{{ reponse.lettreMotivation }}</td>
                <td>{{ reponse.telephone }}</td>
                <td>{{ reponse.email }}</td>
                <td>
                    <a href="{{ path('reponse_show', {'id': reponse.id}) }}">show</a>
                    <a href="{{ path('reponse_edit', {'id': reponse.id}) }}">edit</a>
                </td>
            </tr>
            </div>
        {% else %}
            <tr>

                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reponse_new') }}">Create new</a>
{% endblock %}
