{% extends "present.html.twig" %}
{% 
set image = asset("/images/home.jpeg")
 %}
{% block body %}
	<section class="row clean-block">
		<div class="col-lg-5 col-10" >
		<h1 class="uppercase">notre savoir faire</h1>
		<p>
			Nous maîtrisons la pose des petits éléments de couverture: ardoise, tuile plate de terre cuite, tuile mécanique. 
La couverture en zinc, qu'elle soit à joint debout ou à tasseaux, 
ainsi que tous types d'habillages en zinc font partie de nos compétences.
Les couvertures en bac acier également.
		</p>
		<button type="button" class="btn outline uppercase" onclick=location.assign({{ path('chantier_index') }}) >choisir un projet</button>
		</div>
		<img-aspect class="big-img col-lg-5 col-10" aspect="16/9" crop="cover" src="{{asset("/images/couverture-charpente.jpg")}}" >
	</section>
	<section class="clean-block alternative">
		<div class="text">
			<h1>POURQUOI NOUS CHOISIR ?</h1>
			<p class="text-center">Entreprise qualifiée, ABC Legermain Couverture intervient principalement sur vos toitures; 
son domaine de prédilection: la couverture des bâtiments. 
Nous mettons à vos services nos compétences et notre expertise dans des domaines variés.
L’entreprise ABC Legermain est qualifiée 
<a href="https://www.qualibat.com/"  target="_blank" rel="noopener noreferrer">QUALIBAT</a>
.</p>
			<button type="button" onclick=location.assign("{{ path('aboutus') }}") class="btn outline uppercase">lire la suite</button>
		</div>
	</section>
	<section class="row-reverse clean-block">
		<div class="col-lg-5 col-10">
		<h1 class="uppercase">pret a travailler ensemble</h1>
		<p>
			Réussir ses travaux, c’est avant tout une histoire de confiance et d’accompagnement. 
C’est pour cela que nous plaçons la relation humaine au cœur de notre modèle. Chez ABC Legermain, 
vous ne serez jamais seul. Une question, un doute, un avis, un souci ? Depuis, Tours, 
notre service client est à votre disposition et vous prête une oreille vraiment attentive, 
pour vous apporter des solutions personnalisées.
		</p>
		<button type="button" class="btn outline uppercase" onclick=location.assign({{ path('demande_devis_new') }}) >choisir un projet</button>
		</div>
		<img-aspect class="big-img col-lg-5 col-10" aspect="16/9" crop="cover" src="{{asset("/images/couverture-zinguerie.jpg")}}" >
	</section>
{% endblock %}
