{% extends 'present.html.twig' %}

{%
set title = "Inscrivez-vous sur LEGERMAIN"
%}

{%
set image = asset("/images/home.jpeg")
%}

{% block body %}
{{encore_entry_link_tags('signin') }}
<section class="row clean-block">
	<div class="col-10 col-lg-5">
		<img src="{{icon}}" style="height: 2em;" onclick="location.assign(this.getAttribute('href'))" href="{{ path('home') }}"/>
		<h3 class="uppercase">{{title}}</h3>
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<div class="form-signin">
			{{ form_start(registrationForm) }}
			{% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
                                                
            {# If there are errors in the form, display them in this unorganized list #}
            {% if formErrors|length %}
                    {% for error in formErrors %}
                        <div class="alert alert-danger" role="alert">{{ error.message }}</div>
                    {% endfor %}
            {% endif %}
			<div class="form-floating">
				{{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'nom@exemple.com', 'class' : 'form-control form-control-danger'} }) }}
				{{ form_label(registrationForm.email, "Adresse mail", {'label_attr':{'class':'form-label'}}) }}
			</div>
			<div class="form-floating">
				{{ form_widget(registrationForm.plainPassword, {'attr' : {'placeholder': 'Mot de passe', 'class' : 'form-control form-control-danger'},label: 'Password'}) }}
				{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr':{'class':'form-label'}}) }}
			</div>
			<div class="row row-md short form-label">
				{{ form_widget(registrationForm.agreeTerms) }}
				{{ form_label(registrationForm.agreeTerms, "Accepter") }}
				<a href="#CGU">Conditions d'utilisation (voir ici)</a>
			</div>
			<div class="row form-label">
				<button type="submit" class="btn outline" onclick="showErrors()" >S'inscrire</button>
			</div>
		</div>
	</div>
</section>
<dialog id="CGU" >
	<div class="col">
		<h5 class="title">Conditions d'utilisation</h5>
		<p class="col-12">Lors de l'inscription sur le Site, cette acceptation sera confirmée par le fait de cocher la case correspondant à la phrase suivante : « Je reconnais avoir lu et accepté les Conditions Générales d'Utilisation »</p>
		<button onclick="document.querySelector('#CGU').close();document.querySelector('#registration_form_agreeTerms').checked = true;document.querySelector('#registration_form_agreeTerms').update()" class="btn outline">
		J'ai lu les conditions et les accepte
		</button>
	</div>
</dialog>
{{ form_end(registrationForm) }}
<script>
function showErrors(){
    console.log({{ form_errors(registrationForm) }});  
}

</script>
{% endblock %}
