{% extends 'base.html.twig' %}

{% block title %}TypeChantier index{% endblock %}

{% block body %}
    <h1>TypeChantier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_chantier in type_chantiers %}
            <tr>
                <td>{{ type_chantier.id }}</td>
                <td>{{ type_chantier.type }}</td>
                <td>
                    <a href="{{ path('type_chantier_show', {'id': type_chantier.id}) }}">show</a>
                    <a href="{{ path('type_chantier_edit', {'id': type_chantier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_chantier_new') }}">Create new</a>
{% endblock %}
