{%
set icon = asset("/images/logo.png")
%}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{icon}}" />
		<meta charset="UTF-8">
		<meta name="title" content="{{title|default('LEGERMAIN')}}">
		<meta name="description" content="{{description|default('le site vitrine LEGERMAIN officiel')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>{{title|default('LEGERMAIN')}}</title>
		{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{{encore_entry_link_tags('haiku') }}
		{{encore_entry_script_tags('haiku') }}
		{% endblock %}
	</head>
	<body template=market >
	<nav class="navbar short navbar-dark bg-dark border-bottom">
		<img src="{{icon}}" style="height: 3em;margin:0;" onclick="location.assign(this.getAttribute('href'))" href="{{ path('home') }}"/>
		<a style="margin-left: .5em;" class="navbar-brand" href="{{ path('home') }}">LEGERMAIN</a>
		<div class="grid navbar-menu uppercase col-lg-8">
			<div id="navbar" class="navbar-nav navbar-collapsed right border-bottom border-md-left">
				{% if is_granted('ROLE_ADMIN') %} {# SI ON EST CONNECTER EN TANT QU'ADMIN #}
					<a class="nav-item" href="{{ path('app_admin')}}">PANNEL ADMINISTRATION</a>
				{% endif %}
					<a class="nav-item" href="{{ path('home') }}">ACCUEIL</a>
					<a class="nav-item" href="{{ path('chantier_index') }}">PROJETS</a>
					<a class="nav-item" href="{{ path('aboutus') }}">A Propos de Nous</a>
					<a class="nav-item" href="{{ path('demande_devis_new') }}">DEVIS/CONTACT</a> {#TODO#}
					<a class="nav-item" href="{{ path('reponse_index') }}">OFFRES</a>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {#SI ON EST CONNECTER#}
					<a class="nav-item btn outline centred" href="{{ path('app_logout')}}">SE DECONNECTER</a>
				{% else %}
					<a class="nav-item btn outline centred" href="{{ path('login')}}">SE CONNECTER</a>
				{% endif %}
			</div>
			<navbar-toggle class="navbar-toggler" menu="navbar" style = "width:30px;height:30px;margin-top: 0;margin-left:auto;"></navbar-toggle>
		</div>
			<tip-box icon="cog">
				<h1>Parametres : </h1>
				<div class="row input-group">
					<p>Changer les couleurs</p>
					<switch-mode-night class="centred-line" ></switch-mode-night>
				</div>
			</tip-box>
			</nav>
			{% block header %}{% endblock %}
			<main>
				{% block body %}{% endblock %}
			</main>
			<footer class="border-top bg-dark">
				<p class="footer-copyright">&copy; 2021 ABC Legermain, Inc</p>
				<div class="container rows">
					<img src="{{icon}}" style="height: 2em;" onclick="location.assign(this.getAttribute('href'))" href="{{ path('home') }}"/>
				</div>
				<div class="row short uppercase">
					<a href="{{ path('home') }}" class="nav-link">ACCUEIL</a>
					<a href="{{ path('chantier_index') }}" class="nav-link">PROJETS</a>
					<a href="{{ path('aboutus') }}" class="nav-link">A Propos De Nous</a>
					<a href="{{ path('demande_devis_new') }}" class="nav-link">DEVIS/CONTACT</a>
					<a href="{{ path('reponse_index') }}" class="nav-link">OFFRES</a>
				</div>
			</footer>
			{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
	</body>
</html>
