{% for reponse in field.value %}
                                        
    <div class="field-collection-item field-collection-item-complex">
                    <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Offre_reponses{{reponse.id}}-contents" aria-expanded="false">
                        <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
                        {{reponse.nom | upper}} {{reponse.prenom}}
                    </button>

                                    </h2>
                <div id="Offre_reponses{{reponse.id}}-contents" class="accordion-collapse collapse" style="">
                    <div class="accordion-body">
                            <div class="form-widget-compound">
        
        <div id="Offre_reponses{{reponse.id}}">    
    <div class="">
        <div class=" form-group"><label for="Offre_reponses{{reponse.id}}_nom" class="form-control-label">Nom</label><div class="form-widget">
            <text class="form-control">{{reponse.nom | upper}}</text>
        </div>
        </div>
    </div>

                <div class="flex-fill"></div>
        
    <div class="">
        <div class=" form-group"><label for="Offre_reponses{{reponse.id}}_prenom" class="form-control-label">Prenom</label><div class="form-widget">
            <text class="form-control">{{reponse.prenom}}</text>
        </div>
        </div>
    </div>

                <div class="flex-fill"></div>
                
    <div class="">
        <div class=" form-group"><legend class="col-form-label">cv</legend><div class="form-widget">
                                                
                                    
                        <div class="ea-vich-file">
                                                        <a class="ea-vich-file-name" href="/uploads/cv/reponse/{{reponse.cv}}">
                <i class="fa fa-fw fa-file-pdf-o"></i>
                {{reponse.cv}}
            </a>
        <div class="small" id="Offre_reponses{{reponse.id}}_cvFile_file_new_file_name"></div>
    </div>


                                        
                                
                    </div>
        </div>
    </div>

                <div class="flex-fill"></div>
    
    
    <div class="">
        <div class=" form-group"><label for="Offre_reponses{{reponse.id}}_lettre_motivation" class="form-control-label">Lettre motivation</label><div class="form-widget">
            <text class="form-control">{{reponse.lettre_motivation}}</text>
        <div>
        </div>
    </div>

                <div class="flex-fill"></div>
        
    <div class="">
        <div class=" form-group"><label for="Offre_reponses{{reponse.id}}_telephone" class="form-control-label">Télephone</label><div class="form-widget">
            <text class="form-control">{{reponse.telephone}}</text>
        </div>
        </div>
    </div>

                <div class="flex-fill"></div>
        
    <div class="">
        <div class=" form-group"><label for="Offre_reponses{{reponse.id}}_email" class="form-control-label">Email</label><div class="form-widget">
            <text class="form-control">{{reponse.email}}</text>
        </div>
        </div>
    </div>

                <div class="flex-fill"></div>
    </div>
    </div>

                    </div>
                </div>
            </div>
            </div>


                                        
                                
                    </div>
        </div>
    </div>

{% endfor %}